
#signupButtonLogin
{

    -fx-background-color : transparent;
    -fx-font-size: 20px;


}

#signupButtonLogin:hover
{

    -fx-background-color : #030405;
    -fx-font-size: 20px;


}


.button
{

    -fx-background-color : rgb(51, 149, 255);
    -fx-background-radius : 30 30 30 30 ;
-fx-font-size: 20px;
}

.button:hover
{

    -fx-background-color : rgb(23, 96, 175);
    -fx-background-radius : 30 30 30 30 ;
    -fx-font-size: 20px;

}

.button:pressed
{

       -fx-background-color : rgb(51, 149, 255);
       -fx-background-radius : 30 30 30 30 ;
       -fx-font-size: 20px;

}

