#view1,#view2
{
    -fx-background-color : #030405;
    -fx-background-radius : 30 30 30 30 ;
    -fx-alignment: baseline-center;
}
#view1,#view2:hover
{
    -fx-background-color : rgb(32, 42, 53);
    -fx-background-radius : 30 30 30 30 ;
    -fx-alignment: baseline-center;
}

#view1,#view2:pressed
{
    -fx-background-color : #030405;
    -fx-background-radius : 30 30 30 30 ;
    -fx-alignment: baseline-center;
}

.button
{

    -fx-background-color : transparent;
    -fx-alignment: baseline-left;

}

.button:hover
{

    -fx-background-color : #030405;


}

.button:pressed
{

        -fx-background-color : transparent;


}