.button
{

    -fx-background-color : transparent;
    -fx-alignment: baseline-left;

}

.button:hover
{

    -fx-background-color : #030405;


}

.button:pressed
{

        -fx-background-color : transparent;


}